h1 {
    color: red;
    text-align: center;
  }

img {
    width: 350px;
      height: 250px;
      object-fit: cover;
}

  p {
      color: lightblue;
  }

  .flexbox-row {
      display: flex;
      justify-content: center;
      margin: 5px;
      text-align: center;
      align-content: center;
  }

  .descr {
      padding: 15px;
      text-align: justify;
  }

  .subtitle {
      text-align: left;
  }

  .flexbox-box {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      padding: 25px;
      margin: 5px;
  }

  .text {
      width: 310px;
  }

  img:hover {
      border: 1px solid #999;
  }
